<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    table,tr,td,th{
        border:2px solid black;
        border-collapse: collapse;
        padding: 20px;

    }
    tr:nth-child(even){
        background-color:pink ;
    }
    tr:nth-child(odd){
        background-color:yellow ;
    }
    tr:hover{
        background-color: rgb(148, 107, 148);
    }
</style>
</head>
<body>
    <table>
        <tr>
        <th>Name</th>
         <th>Age</th>
    </tr>
          <tr>
            <td>John</td>
            <td>25</td>
          </tr>
          <tr>
            <td>Jane</td>
            <td>30</td>
          </tr>
          <tr>
                <td>Jane</td>
                <td>30</td>
              </tr>
              <tr>
                    <td>Jane</td>
                    <td>30</td>
                  </tr>
        </table>
        
</body>
</html>